body {
margin: 10px auto;
width: 800px;
}

.main-container {
  background-color: whitesmoke;
  display: flex;  
}

.leftColumn {
  display: flex;
  flex-direction: column;
  margin: 5px 5px 5px 10px;
}

img {
  width: 100%;
}

div .headshot {
  flex: 1;
  height: auto;
}

.rightColumn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60px 1fr 2fr 60px 2fr 60px repeat(3, 1.5fr);
  margin: 5px 30px;
}

h1, h2, p, .job1, .job2, .job3 {
  grid-column: 1/3;
}

.degree1 {
  grid-column: 1/2;
  grid-row: 5/6;
}


.degree1 {
  grid-column: 2/3;
  grid-row: 5/6;
}
