body {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 1024px;
  margin: auto;
  background-color: goldenrod;
  color: whitesmoke;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 5em;
  max-width: 100%;
  margin: 0;
  text-align: center;
  border: 5px solid whitesmoke;
}

h2 {
  font-size: 3em;
}


h3 {
  font-size: 2em;
  margin: 0em;
  text-align: right;
}

main {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  margin: 10% auto;
  justify-content: center;
  
}


button {
  margin: 50px auto;
  padding: 10px 20px;
  color: goldenrod;
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
  border: 3px solid whitesmoke;
  background-color: whitesmoke;
}

button > a {
  color: goldenrod;
  text-decoration: none;
}

button:hover {
  border-style: double;	  
  border-color:goldenrod;	
}	

@media (max-width: 500px) {
  nav > a {
    font-size: 5vw;
  }
}