body {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 1024px;
  margin: auto;
  background-color: goldenrod;
  color: whitesmoke;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(-45deg, goldenrod, #dbbc6c, goldenrod, #dfb64f);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

 header{
  background-color: transparent;
 }

h1 {
  font-size: 5em;
  max-width: 100%;
  margin: 0;
  text-align: center;
  color: whitesmoke;
  border: 5px solid whitesmoke;
}

h2 {
  font-size: 3em;
}


h3 {
  font-size: 2em;
  margin: 0em;
  text-align: right;
}

main {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  margin: 10% auto;
  justify-content: center;
  background-color: transparent;
}


button {
  margin: 50px auto;
  padding: 10px 20px;
  color: goldenrod;
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
  border: 3px solid whitesmoke;
  background-color: whitesmoke;
}

button > a {
  color: goldenrod;
  text-decoration: none;
}

button:hover {
  border-style: double;	  
  border-color:goldenrod;	
}	

@media (max-width: 500px) {
  nav > a {
    font-size: 5vw;
  }
}