main {
  display: grid;
  width: 100%;
  margin-top: 0;
  grid-gap: 5%;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 80px repeat(2,1fr) 80px;
}


section {
  /* display: grid;
  margin: 2vw;
  grid-gap: 20%;
  grid-template-columns: 90vw;
  grid-template-rows: 300px 300px; */
  display: flex;
  width: 80vw;
  margin: 80px 2vw;
  justify-content: space-evenly;
}

iframe {
  width: 35vw;
  height: 180%;
  padding: 5px;
}