main {
    display: flex;
    max-width: 100vw;

    flex-direction: column;
    background-color: whitesmoke;
  }

section {
  /* display: grid;
  margin: 2vw;
  grid-gap: 20%;
  grid-template-columns: 90vw;
  grid-template-rows: 300px 300px; */
  display: flex;
  width: 80vw;
  margin: 80px 2vw;
  justify-content: space-evenly;
}

iframe {
  width: 35vw;
  height: 180%;
  padding: 5px;
}